<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>
        {{ titulo }}
        </h1>
        <hr>
        <p>Listagem de frutas (em objetos)</p>
        <ul>
            <li v-for="fruta in frutas" :key="fruta.nome">
               <strong>{{ fruta.nome }}</strong>, fruta rica em vitamina {{ fruta.vitamina }}.
            </li> <!-- v-for diretiva para percorrer uma lista--> <!--pode usar of no lugar de in--> <!--:key outra diretiva para guardar a chave desse elemento. Isso serve para caso seja feito alguma alteração na lista seja possível acessar por esta chave--> <!--{{}} serve para interpolar o valor-->
        </ul>
        <p>Listagem de frutas (com objetos e índice)</p>
        <ul>
            <li v-for="(fruta, indice) in frutas" :key="indice">
            {{indice}}  -  <strong>{{ fruta.nome }}</strong>, fruta rica em vitamina {{ fruta.vitamina }}.
            </li> 
        </ul> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data(){
                return {
                    titulo: "Listas 2",
                    frutas: [
                        { nome: 'Laranja', vitamina:"C"},
                        { nome:'Maçã', vitamina:"B"},
                        { nome: 'Melão', vitamina:"A"}
                    ]
                } 
            },
        })
    </script>
</body>
</html>