<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Aula 13 e 14-->
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>
            {{titulo}}
        </h1>
        <hr>
        <p>Listagem de livros (em objetos)</p>
            <div v-for="(livro, index) in livros" key="index">
                <ul>
                    <li v-for="(valor, chave, indice) in livro">
                        ({{ indice + 1 }}) {{ chave }}: {{ valor }}</li> 
                </ul>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data(){
                return {
                    titulo: "Listas 3",
                    livros: [
                        {
                            titulo: "O pequeno príncipe",
                            autor: "Antoine de Saint-Exupéry",
                            publicadoEm: "1943"
                        },
                        {
                            titulo: "O senhor dos anéis",
                            autor: "J.R.R Tolkien",
                            publicadoEm: "1954"    
                        },
                        {
                            titulo: "O Conde de Monte Cristo",
                            autor: "Alexandre Dumas",
                            publicadoEm: "1844"    
                        }
                    ]
                } 
            },
        })
    </script>
</body>
</html>