<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>
        {{ titulo }}
        </h1>
        <hr>
        <p>Listagem de frutas</p>
        <ul>
            <li v-for="fruta in frutas" :key="fruta">{{ fruta }}</li> <!-- v-for diretiva para percorrer uma lista--> <!--pode usar of no lugar de in--> <!--:key outra diretiva para guardar a chave desse elemento. Isso serve para caso seja feito alguma alteração na lista seja possível acessar por esta chave--> <!--{{}} serve para interpolar o valor-->
        </ul>
        <p>Listagem de frutas com índice</p>
        <ul>
            <li v-for="(fruta, index) in frutas" :key="fruta">{{ index }} - {{ fruta }}</li> <!-- v-for diretiva para percorrer uma lista--> <!--pode usar of no lugar de in--> <!--:key outra diretiva para guardar a chave desse elemento. Isso serve para caso seja feito alguma alteração na lista seja possível acessar por esta chave--> <!--{{}} serve para interpolar o valor-->
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data(){
                return {
                    titulo: "Listas",
                    frutas: ['Laranja', 'Maçã', 'Melão']
                } 
            },
        })
    </script>
</body>
</html>